.container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    'header'
    'search'
    'results'
    'current'
    'fiveDay'
}

.jumbotron {
    grid-area: header;
}

#search-form {
    grid-area: search;
}

#results-here {
    grid-area: results;
}

.currentDayContainer {
    grid-area: current;
}

.fiveDayContainer {
    grid-area: fiveDay;
}

@media (min-width: 40em) {

    .container{
    grid-template-columns: 200px auto;

        grid-template-areas: 
        'header header'
        'search current'
        'results fiveDay';
     }
}