body{
    background-color: rgb(108, 123, 253);
}
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    'header'
    'search'
    'results'
    'current'
    'fiveDay'
}
.card-body {
    background-color: rgb(170, 49, 240);
}
.jumbotron {
    grid-area: header;
    background-color: rgb(170, 49, 240);
    color: white;
}

#search-form {
    grid-area: search;
}

#results-here {
    grid-area: results;
}

.currentDayContainer {
    grid-area: current;
}

.fiveDayContainer {
    grid-area: fiveDay;
}

@media (min-width: 40em) {

    .container{
    grid-template-columns: 200px auto;

        grid-template-areas: 
        'header header'
        'search current'
        'results fiveDay';
     }
}

.results-text {
    color: white;
}

.listCity{
    border-style: ridge;
    text-transform: capitalize;
    display: none;
    background-color: white;
}